# .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
TestResults/
coverage/

# Node / React
node_modules/
dist/
.env
.env.local
.env*.local

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Rider / VS Code
.idea/
.vscode/
*.iml

# Kind / k8s
kubeconfig
